:root {
  --main-blue: #48b1e6;
  --main-red: #ff0000;
  --main-orange: #fd9c00;
  --main-lightorange: #ffc400;
  --main-darkgreen: #318c11;
  --main-lightgreen: #5eff00;
  --main-yellow: #fff200;
}

* {
  border: solid black 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-darkgreen);
  font-size: 1.8rem;
}
/* start general */
h1 {
  color: var(--main-lightgreen);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: var(--main-black);
  margin: 2%;
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

a {
  text-decoration: none;
}


/* end general */

/* start navigation styles */

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-orange);
  z-index: 1;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-item {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-link {
  color: var(--main-red);
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 2.2rem;
  text-shadow: 1px 2px 0px #000000;
}
/* end navigation style */

/* start welcome section style */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-yellow);
}

#welcome-title {
  font-family: 'DM Serif Display', serif;
  font-size: 350%;
  padding-top: 4%;
  color: white;
  /* simulate text outline */
  text-shadow:
    /* black outline */
    3px 0px black,
    3px 1px black,
    3px 2px black,
    3px 3px black,
    3px -1px black,
    3px -2px black,
    3px -3px black,
    -3px 0px black,
    -3px 1px black,
    -3px 2px black,
    -3px 3px black,
    -3px -1px black,
    -3px -2px black,
    -3px -3px black,
    2px 0px black,
    2px 1px black,
    2px 2px black,
    2px 3px black,
    2px -1px black,
    2px -2px black,
    2px -3px black,
    -2px 0px black,
    -2px 1px black,
    -2px 2px black,
    -2px 3px black,
    -2px -1px black,
    -2px -2px black,
    -2px -3px black,
    1px 0px black,
    1px 1px black,
    1px 2px black,
    1px 3px black,
    1px -1px black,
    1px -2px black,
    1px -3px black,
    -1px 0px black,
    -1px 1px black,
    -1px 2px black,
    -1px 3px black,
    -1px -1px black,
    -1px -2px black,
    -1px -3px black,
    0px 0px black,
    0px 1px black,
    0px 2px black,
    0px 3px black,
    0px -1px black,
    0px -2px black,
    0px -3px black,
    /* outline orange */
    9px 0px var(--main-lightorange),
    9px 1px var(--main-lightorange),
    9px 2px var(--main-lightorange),
    9px 3px var(--main-lightorange),
    9px 4px var(--main-lightorange),
    9px 5px var(--main-lightorange),
    9px 6px var(--main-lightorange),
    9px 7px var(--main-lightorange),
    9px 8px var(--main-lightorange),
    9px 9px var(--main-lightorange),
    9px -1px var(--main-lightorange),
    9px -2px var(--main-lightorange),
    9px -3px var(--main-lightorange),
    9px -4px var(--main-lightorange),
    9px -5px var(--main-lightorange),
    9px -6px var(--main-lightorange),
    9px -7px var(--main-lightorange),
    9px -8px var(--main-lightorange),
    9px -9px var(--main-lightorange),
    -9px 0px var(--main-lightorange),
    -9px 1px var(--main-lightorange),
    -9px 2px var(--main-lightorange),
    -9px 3px var(--main-lightorange),
    -9px 4px var(--main-lightorange),
    -9px 5px var(--main-lightorange),
    -9px 6px var(--main-lightorange),
    -9px 7px var(--main-lightorange),
    -9px 8px var(--main-lightorange),
    -9px 9px var(--main-lightorange),
    -9px 0px var(--main-lightorange),
    -9px -1px var(--main-lightorange),
    -9px -2px var(--main-lightorange),
    -9px -3px var(--main-lightorange),
    -9px -4px var(--main-lightorange),
    -9px -5px var(--main-lightorange),
    -9px -6px var(--main-lightorange),
    -9px -7px var(--main-lightorange),
    -9px -8px var(--main-lightorange),
    -9px -9px var(--main-lightorange),
    8px 4px var(--main-lightorange),
    8px 5px var(--main-lightorange),
    8px 6px var(--main-lightorange),
    8px 7px var(--main-lightorange),
    8px 8px var(--main-lightorange),
    8px 9px var(--main-lightorange),
    8px -4px var(--main-lightorange),
    8px -5px var(--main-lightorange),
    8px -6px var(--main-lightorange),
    8px -7px var(--main-lightorange),
    8px -8px var(--main-lightorange),
    8px -9px var(--main-lightorange),
    -8px 4px var(--main-lightorange),
    -8px 5px var(--main-lightorange),
    -8px 6px var(--main-lightorange),
    -8px 7px var(--main-lightorange),
    -8px 8px var(--main-lightorange),
    -8px 9px var(--main-lightorange),
    -8px -4px var(--main-lightorange),
    -8px -5px var(--main-lightorange),
    -8px -6px var(--main-lightorange),
    -8px -7px var(--main-lightorange),
    -8px -8px var(--main-lightorange),
    -8px -9px var(--main-lightorange),
    7px 4px var(--main-lightorange),
    7px 5px var(--main-lightorange),
    7px 6px var(--main-lightorange),
    7px 7px var(--main-lightorange),
    7px 8px var(--main-lightorange),
    7px 9px var(--main-lightorange),
    7px -4px var(--main-lightorange),
    7px -5px var(--main-lightorange),
    7px -6px var(--main-lightorange),
    7px -7px var(--main-lightorange),
    7px -8px var(--main-lightorange),
    7px -9px var(--main-lightorange),
    -7px 4px var(--main-lightorange),
    -7px 5px var(--main-lightorange),
    -7px 6px var(--main-lightorange),
    -7px 7px var(--main-lightorange),
    -7px 8px var(--main-lightorange),
    -7px 9px var(--main-lightorange),
    -7px -4px var(--main-lightorange),
    -7px -5px var(--main-lightorange),
    -7px -6px var(--main-lightorange),
    -7px -7px var(--main-lightorange),
    -7px -8px var(--main-lightorange),
    -7px -9px var(--main-lightorange),
    6px 4px var(--main-lightorange),
    6px 5px var(--main-lightorange),
    6px 6px var(--main-lightorange),
    6px 7px var(--main-lightorange),
    6px 8px var(--main-lightorange),
    6px 9px var(--main-lightorange),
    6px -4px var(--main-lightorange),
    6px -5px var(--main-lightorange),
    6px -6px var(--main-lightorange),
    6px -7px var(--main-lightorange),
    6px -8px var(--main-lightorange),
    6px -9px var(--main-lightorange),
    -6px 4px var(--main-lightorange),
    -6px 5px var(--main-lightorange),
    -6px 6px var(--main-lightorange),
    -6px 7px var(--main-lightorange),
    -6px 8px var(--main-lightorange),
    -6px 9px var(--main-lightorange),
    -6px -4px var(--main-lightorange),
    -6px -5px var(--main-lightorange),
    -6px -6px var(--main-lightorange),
    -6px -7px var(--main-lightorange),
    -6px -8px var(--main-lightorange),
    -6px -9px var(--main-lightorange),
    5px 4px var(--main-lightorange),
    5px 5px var(--main-lightorange),
    5px 6px var(--main-lightorange),
    5px 7px var(--main-lightorange),
    5px 8px var(--main-lightorange),
    5px 9px var(--main-lightorange),
    5px -4px var(--main-lightorange),
    5px -5px var(--main-lightorange),
    5px -6px var(--main-lightorange),
    5px -7px var(--main-lightorange),
    5px -8px var(--main-lightorange),
    5px -9px var(--main-lightorange),
    -5px 4px var(--main-lightorange),
    -5px 5px var(--main-lightorange),
    -5px 6px var(--main-lightorange),
    -5px 7px var(--main-lightorange),
    -5px 8px var(--main-lightorange),
    -5px 9px var(--main-lightorange),
    -5px -4px var(--main-lightorange),
    -5px -5px var(--main-lightorange),
    -5px -6px var(--main-lightorange),
    -5px -7px var(--main-lightorange),
    -5px -8px var(--main-lightorange),
    -5px -9px var(--main-lightorange),
    4px 4px var(--main-lightorange),
    4px 5px var(--main-lightorange),
    4px 6px var(--main-lightorange),
    4px 7px var(--main-lightorange),
    4px 8px var(--main-lightorange),
    4px 9px var(--main-lightorange),
    4px -4px var(--main-lightorange),
    4px -5px var(--main-lightorange),
    4px -6px var(--main-lightorange),
    4px -7px var(--main-lightorange),
    4px -8px var(--main-lightorange),
    4px -9px var(--main-lightorange),
    -4px 4px var(--main-lightorange),
    -4px 5px var(--main-lightorange),
    -4px 6px var(--main-lightorange),
    -4px 7px var(--main-lightorange),
    -4px 8px var(--main-lightorange),
    -4px 9px var(--main-lightorange),
    -4px -4px var(--main-lightorange),
    -4px -5px var(--main-lightorange),
    -4px -6px var(--main-lightorange),
    -4px -7px var(--main-lightorange),
    -4px -8px var(--main-lightorange),
    -4px -9px var(--main-lightorange),
    3px 4px var(--main-lightorange),
    3px 5px var(--main-lightorange),
    3px 6px var(--main-lightorange),
    3px 7px var(--main-lightorange),
    3px 8px var(--main-lightorange),
    3px 9px var(--main-lightorange),
    3px -4px var(--main-lightorange),
    3px -5px var(--main-lightorange),
    3px -6px var(--main-lightorange),
    3px -7px var(--main-lightorange),
    3px -8px var(--main-lightorange),
    3px -9px var(--main-lightorange),
    -3px 4px var(--main-lightorange),
    -3px 5px var(--main-lightorange),
    -3px 6px var(--main-lightorange),
    -3px 7px var(--main-lightorange),
    -3px 8px var(--main-lightorange),
    -3px 9px var(--main-lightorange),
    -3px -4px var(--main-lightorange),
    -3px -5px var(--main-lightorange),
    -3px -6px var(--main-lightorange),
    -3px -7px var(--main-lightorange),
    -3px -8px var(--main-lightorange),
    -3px -9px var(--main-lightorange),
    2px 4px var(--main-lightorange),
    2px 5px var(--main-lightorange),
    2px 6px var(--main-lightorange),
    2px 7px var(--main-lightorange),
    2px 8px var(--main-lightorange),
    2px 9px var(--main-lightorange),
    2px -4px var(--main-lightorange),
    2px -5px var(--main-lightorange),
    2px -6px var(--main-lightorange),
    2px -7px var(--main-lightorange),
    2px -8px var(--main-lightorange),
    2px -9px var(--main-lightorange),
    -2px 4px var(--main-lightorange),
    -2px 5px var(--main-lightorange),
    -2px 6px var(--main-lightorange),
    -2px 7px var(--main-lightorange),
    -2px 8px var(--main-lightorange),
    -2px 9px var(--main-lightorange),
    -2px -4px var(--main-lightorange),
    -2px -5px var(--main-lightorange),
    -2px -6px var(--main-lightorange),
    -2px -7px var(--main-lightorange),
    -2px -8px var(--main-lightorange),
    -2px -9px var(--main-lightorange),
    1px 4px var(--main-lightorange),
    1px 5px var(--main-lightorange),
    1px 6px var(--main-lightorange),
    1px 7px var(--main-lightorange),
    1px 8px var(--main-lightorange),
    1px 9px var(--main-lightorange),
    1px -4px var(--main-lightorange),
    1px -5px var(--main-lightorange),
    1px -6px var(--main-lightorange),
    1px -7px var(--main-lightorange),
    1px -8px var(--main-lightorange),
    1px -9px var(--main-lightorange),
    -1px 4px var(--main-lightorange),
    -1px 5px var(--main-lightorange),
    -1px 6px var(--main-lightorange),
    -1px 7px var(--main-lightorange),
    -1px 8px var(--main-lightorange),
    -1px 9px var(--main-lightorange),
    -1px -4px var(--main-lightorange),
    -1px -5px var(--main-lightorange),
    -1px -6px var(--main-lightorange),
    -1px -7px var(--main-lightorange),
    -1px -8px var(--main-lightorange),
    -1px -9px var(--main-lightorange),
    0px 4px var(--main-lightorange),
    0px 5px var(--main-lightorange),
    0px 6px var(--main-lightorange),
    0px 7px var(--main-lightorange),
    0px 8px var(--main-lightorange),
    0px 9px var(--main-lightorange),
    0px -4px var(--main-lightorange),
    0px -5px var(--main-lightorange),
    0px -6px var(--main-lightorange),
    0px -7px var(--main-lightorange),
    0px -8px var(--main-lightorange),
    0px -9px var(--main-lightorange),
    -0px 4px var(--main-lightorange),
    -0px 5px var(--main-lightorange),
    -0px 6px var(--main-lightorange),
    -0px 7px var(--main-lightorange),
    -0px 8px var(--main-lightorange),
    -0px 9px var(--main-lightorange),
    -0px -4px var(--main-lightorange),
    -0px -5px var(--main-lightorange),
    -0px -6px var(--main-lightorange),
    -0px -7px var(--main-lightorange),
    -0px -8px var(--main-lightorange),
    -0px -9px var(--main-lightorange),
    /* outer black outline */
    11px 0px black,
    11px 1px black,
    11px 2px black,
    11px 3px black,
    11px 4px black,
    11px 5px black,
    11px 6px black,
    11px 7px black,
    11px 8px black,
    11px 9px black,
    11px 10px black,
    11px 11px black,
    11px -1px black,
    11px -2px black,
    11px -3px black,
    11px -4px black,
    11px -5px black,
    11px -6px black,
    11px -7px black,
    11px -8px black,
    11px -9px black,
    11px -10px black,
    11px -11px black,
    -11px 0px black,
    -11px 1px black,
    -11px 2px black,
    -11px 3px black,
    -11px 4px black,
    -11px 5px black,
    -11px 6px black,
    -11px 7px black,
    -11px 8px black,
    -11px 9px black,
    -11px 10px black,
    -11px 11px black,
    -11px -1px black,
    -11px -2px black,
    -11px -3px black,
    -11px -4px black,
    -11px -5px black,
    -11px -6px black,
    -11px -7px black,
    -11px -8px black,
    -11px -9px black,
    -11px -10px black,
    -11px -11px black,
    0px -10px black,
    0px -11px black,
    0px 10px black,
    0px 11px black;
  transform: rotate3d(2, 2, 2, -15deg);
  margin-right: 50px;
  margin-bottom: -20px;
}

#welcome-subtitle {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-shadow:
    /* black outline */
    3px 0px black,
    3px 1px black,
    3px 2px black,
    3px 3px black,
    3px -1px black,
    3px -2px black,
    3px -3px black,
    -3px 0px black,
    -3px 1px black,
    -3px 2px black,
    -3px 3px black,
    -3px -1px black,
    -3px -2px black,
    -3px -3px black,
    2px 0px black,
    2px 1px black,
    2px 2px black,
    2px 3px black,
    2px -1px black,
    2px -2px black,
    2px -3px black,
    -2px 0px black,
    -2px 1px black,
    -2px 2px black,
    -2px 3px black,
    -2px -1px black,
    -2px -2px black,
    -2px -3px black,
    1px 0px black,
    1px 1px black,
    1px 2px black,
    1px 3px black,
    1px -1px black,
    1px -2px black,
    1px -3px black,
    -1px 0px black,
    -1px 1px black,
    -1px 2px black,
    -1px 3px black,
    -1px -1px black,
    -1px -2px black,
    -1px -3px black,
    0px 0px black,
    0px 1px black,
    0px 2px black,
    0px 3px black,
    0px -1px black,
    0px -2px black,
    0px -3px black,
    /* outline orange */
    9px 0px var(--main-lightorange),
    9px 1px var(--main-lightorange),
    9px 2px var(--main-lightorange),
    9px 3px var(--main-lightorange),
    9px 4px var(--main-lightorange),
    9px 5px var(--main-lightorange),
    9px 6px var(--main-lightorange),
    9px 7px var(--main-lightorange),
    9px 8px var(--main-lightorange),
    9px 9px var(--main-lightorange),
    9px -1px var(--main-lightorange),
    9px -2px var(--main-lightorange),
    9px -3px var(--main-lightorange),
    9px -4px var(--main-lightorange),
    9px -5px var(--main-lightorange),
    9px -6px var(--main-lightorange),
    9px -7px var(--main-lightorange),
    9px -8px var(--main-lightorange),
    9px -9px var(--main-lightorange),
    -9px 0px var(--main-lightorange),
    -9px 1px var(--main-lightorange),
    -9px 2px var(--main-lightorange),
    -9px 3px var(--main-lightorange),
    -9px 4px var(--main-lightorange),
    -9px 5px var(--main-lightorange),
    -9px 6px var(--main-lightorange),
    -9px 7px var(--main-lightorange),
    -9px 8px var(--main-lightorange),
    -9px 9px var(--main-lightorange),
    -9px 0px var(--main-lightorange),
    -9px -1px var(--main-lightorange),
    -9px -2px var(--main-lightorange),
    -9px -3px var(--main-lightorange),
    -9px -4px var(--main-lightorange),
    -9px -5px var(--main-lightorange),
    -9px -6px var(--main-lightorange),
    -9px -7px var(--main-lightorange),
    -9px -8px var(--main-lightorange),
    -9px -9px var(--main-lightorange),
    8px 4px var(--main-lightorange),
    8px 5px var(--main-lightorange),
    8px 6px var(--main-lightorange),
    8px 7px var(--main-lightorange),
    8px 8px var(--main-lightorange),
    8px 9px var(--main-lightorange),
    8px -4px var(--main-lightorange),
    8px -5px var(--main-lightorange),
    8px -6px var(--main-lightorange),
    8px -7px var(--main-lightorange),
    8px -8px var(--main-lightorange),
    8px -9px var(--main-lightorange),
    -8px 4px var(--main-lightorange),
    -8px 5px var(--main-lightorange),
    -8px 6px var(--main-lightorange),
    -8px 7px var(--main-lightorange),
    -8px 8px var(--main-lightorange),
    -8px 9px var(--main-lightorange),
    -8px -4px var(--main-lightorange),
    -8px -5px var(--main-lightorange),
    -8px -6px var(--main-lightorange),
    -8px -7px var(--main-lightorange),
    -8px -8px var(--main-lightorange),
    -8px -9px var(--main-lightorange),
    7px 4px var(--main-lightorange),
    7px 5px var(--main-lightorange),
    7px 6px var(--main-lightorange),
    7px 7px var(--main-lightorange),
    7px 8px var(--main-lightorange),
    7px 9px var(--main-lightorange),
    7px -4px var(--main-lightorange),
    7px -5px var(--main-lightorange),
    7px -6px var(--main-lightorange),
    7px -7px var(--main-lightorange),
    7px -8px var(--main-lightorange),
    7px -9px var(--main-lightorange),
    -7px 4px var(--main-lightorange),
    -7px 5px var(--main-lightorange),
    -7px 6px var(--main-lightorange),
    -7px 7px var(--main-lightorange),
    -7px 8px var(--main-lightorange),
    -7px 9px var(--main-lightorange),
    -7px -4px var(--main-lightorange),
    -7px -5px var(--main-lightorange),
    -7px -6px var(--main-lightorange),
    -7px -7px var(--main-lightorange),
    -7px -8px var(--main-lightorange),
    -7px -9px var(--main-lightorange),
    6px 4px var(--main-lightorange),
    6px 5px var(--main-lightorange),
    6px 6px var(--main-lightorange),
    6px 7px var(--main-lightorange),
    6px 8px var(--main-lightorange),
    6px 9px var(--main-lightorange),
    6px -4px var(--main-lightorange),
    6px -5px var(--main-lightorange),
    6px -6px var(--main-lightorange),
    6px -7px var(--main-lightorange),
    6px -8px var(--main-lightorange),
    6px -9px var(--main-lightorange),
    -6px 4px var(--main-lightorange),
    -6px 5px var(--main-lightorange),
    -6px 6px var(--main-lightorange),
    -6px 7px var(--main-lightorange),
    -6px 8px var(--main-lightorange),
    -6px 9px var(--main-lightorange),
    -6px -4px var(--main-lightorange),
    -6px -5px var(--main-lightorange),
    -6px -6px var(--main-lightorange),
    -6px -7px var(--main-lightorange),
    -6px -8px var(--main-lightorange),
    -6px -9px var(--main-lightorange),
    5px 4px var(--main-lightorange),
    5px 5px var(--main-lightorange),
    5px 6px var(--main-lightorange),
    5px 7px var(--main-lightorange),
    5px 8px var(--main-lightorange),
    5px 9px var(--main-lightorange),
    5px -4px var(--main-lightorange),
    5px -5px var(--main-lightorange),
    5px -6px var(--main-lightorange),
    5px -7px var(--main-lightorange),
    5px -8px var(--main-lightorange),
    5px -9px var(--main-lightorange),
    -5px 4px var(--main-lightorange),
    -5px 5px var(--main-lightorange),
    -5px 6px var(--main-lightorange),
    -5px 7px var(--main-lightorange),
    -5px 8px var(--main-lightorange),
    -5px 9px var(--main-lightorange),
    -5px -4px var(--main-lightorange),
    -5px -5px var(--main-lightorange),
    -5px -6px var(--main-lightorange),
    -5px -7px var(--main-lightorange),
    -5px -8px var(--main-lightorange),
    -5px -9px var(--main-lightorange),
    4px 4px var(--main-lightorange),
    4px 5px var(--main-lightorange),
    4px 6px var(--main-lightorange),
    4px 7px var(--main-lightorange),
    4px 8px var(--main-lightorange),
    4px 9px var(--main-lightorange),
    4px -4px var(--main-lightorange),
    4px -5px var(--main-lightorange),
    4px -6px var(--main-lightorange),
    4px -7px var(--main-lightorange),
    4px -8px var(--main-lightorange),
    4px -9px var(--main-lightorange),
    -4px 4px var(--main-lightorange),
    -4px 5px var(--main-lightorange),
    -4px 6px var(--main-lightorange),
    -4px 7px var(--main-lightorange),
    -4px 8px var(--main-lightorange),
    -4px 9px var(--main-lightorange),
    -4px -4px var(--main-lightorange),
    -4px -5px var(--main-lightorange),
    -4px -6px var(--main-lightorange),
    -4px -7px var(--main-lightorange),
    -4px -8px var(--main-lightorange),
    -4px -9px var(--main-lightorange),
    3px 4px var(--main-lightorange),
    3px 5px var(--main-lightorange),
    3px 6px var(--main-lightorange),
    3px 7px var(--main-lightorange),
    3px 8px var(--main-lightorange),
    3px 9px var(--main-lightorange),
    3px -4px var(--main-lightorange),
    3px -5px var(--main-lightorange),
    3px -6px var(--main-lightorange),
    3px -7px var(--main-lightorange),
    3px -8px var(--main-lightorange),
    3px -9px var(--main-lightorange),
    -3px 4px var(--main-lightorange),
    -3px 5px var(--main-lightorange),
    -3px 6px var(--main-lightorange),
    -3px 7px var(--main-lightorange),
    -3px 8px var(--main-lightorange),
    -3px 9px var(--main-lightorange),
    -3px -4px var(--main-lightorange),
    -3px -5px var(--main-lightorange),
    -3px -6px var(--main-lightorange),
    -3px -7px var(--main-lightorange),
    -3px -8px var(--main-lightorange),
    -3px -9px var(--main-lightorange),
    2px 4px var(--main-lightorange),
    2px 5px var(--main-lightorange),
    2px 6px var(--main-lightorange),
    2px 7px var(--main-lightorange),
    2px 8px var(--main-lightorange),
    2px 9px var(--main-lightorange),
    2px -4px var(--main-lightorange),
    2px -5px var(--main-lightorange),
    2px -6px var(--main-lightorange),
    2px -7px var(--main-lightorange),
    2px -8px var(--main-lightorange),
    2px -9px var(--main-lightorange),
    -2px 4px var(--main-lightorange),
    -2px 5px var(--main-lightorange),
    -2px 6px var(--main-lightorange),
    -2px 7px var(--main-lightorange),
    -2px 8px var(--main-lightorange),
    -2px 9px var(--main-lightorange),
    -2px -4px var(--main-lightorange),
    -2px -5px var(--main-lightorange),
    -2px -6px var(--main-lightorange),
    -2px -7px var(--main-lightorange),
    -2px -8px var(--main-lightorange),
    -2px -9px var(--main-lightorange),
    1px 4px var(--main-lightorange),
    1px 5px var(--main-lightorange),
    1px 6px var(--main-lightorange),
    1px 7px var(--main-lightorange),
    1px 8px var(--main-lightorange),
    1px 9px var(--main-lightorange),
    1px -4px var(--main-lightorange),
    1px -5px var(--main-lightorange),
    1px -6px var(--main-lightorange),
    1px -7px var(--main-lightorange),
    1px -8px var(--main-lightorange),
    1px -9px var(--main-lightorange),
    -1px 4px var(--main-lightorange),
    -1px 5px var(--main-lightorange),
    -1px 6px var(--main-lightorange),
    -1px 7px var(--main-lightorange),
    -1px 8px var(--main-lightorange),
    -1px 9px var(--main-lightorange),
    -1px -4px var(--main-lightorange),
    -1px -5px var(--main-lightorange),
    -1px -6px var(--main-lightorange),
    -1px -7px var(--main-lightorange),
    -1px -8px var(--main-lightorange),
    -1px -9px var(--main-lightorange),
    0px 4px var(--main-lightorange),
    0px 5px var(--main-lightorange),
    0px 6px var(--main-lightorange),
    0px 7px var(--main-lightorange),
    0px 8px var(--main-lightorange),
    0px 9px var(--main-lightorange),
    0px -4px var(--main-lightorange),
    0px -5px var(--main-lightorange),
    0px -6px var(--main-lightorange),
    0px -7px var(--main-lightorange),
    0px -8px var(--main-lightorange),
    0px -9px var(--main-lightorange),
    -0px 4px var(--main-lightorange),
    -0px 5px var(--main-lightorange),
    -0px 6px var(--main-lightorange),
    -0px 7px var(--main-lightorange),
    -0px 8px var(--main-lightorange),
    -0px 9px var(--main-lightorange),
    -0px -4px var(--main-lightorange),
    -0px -5px var(--main-lightorange),
    -0px -6px var(--main-lightorange),
    -0px -7px var(--main-lightorange),
    -0px -8px var(--main-lightorange),
    -0px -9px var(--main-lightorange);
  transform: rotate3d(2, 2, 2, -15deg);
}
/* end welcome section style */

/* start projects section */
.projects-section {
  position: relative;
  text-align: center;
  padding: 10rem 2rem;
}

.section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  padding: 2%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.projects-tile {
  border-radius: 6px;
  background-color: var(--main-blue);
}

.projects-title {
  text-align: center;
  font-size: 2rem;
}

.projects-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}
/* end projects section */
