:root {
  --main-blue: #A0C1D1;
  --main-gray: #A9B2AC;
  --main-sinopia: #BA5A31;
  --main-pink: #DB93B0;
  --main-black: #393D3F;
}

body {
  background-color: var(--main-gray);
  margin: 0;
  padding: 0;
}


h1 {
  color: var(--main-sinopia);
}

p {
  color: var(--main-black)
}

/* start navigation styles */

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-sinopia);
}

.nav-item {
  display: inline;
  padding: 0% 10px;
}

.nav-link {
  color: var(--main-pink);
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 200%;
}

/* end navigation style */
/* start welcome section style */
#welcome-section {
  background-color: var(--main-black);
  text-align: center;

}

#welcome-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 350%;
  margin-bottom: auto;
  margin-top: 0;
}

#welcome-subtitle {
  color: var(--main-blue);
  padding-bottom: 10%;
}
/* end welcome section style */
